<div class="">
  <div>
    <br><br>
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
          <div class="container">
            <div class="carousel-caption text-start">
              <h1>Example headline.</h1>
              <p>Some representative placeholder content for the first slide of the carousel.</p>
              <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p>Some representative placeholder content for the second slide of the carousel.</p>
              <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
          <div class="container">
            <div class="carousel-caption text-end">
              <h1>One more for good measure.</h1>
              <p>Some representative placeholder content for the third slide of this carousel.</p>
              <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  
  </div>




  <!--NAVBAR-->
  <div class="header" style="background-color: #F0F6EC;">
    <nav
      class="
        navbar navbar-expand-lg navbar-light
        fixed-top
        mask-custom
        shadow-0
      "
    >
      <div class="container">
        <a></a>
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="bi bi-list"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="#!">Home</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="#!">About</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="#!">Skills</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="#!">Education</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="#!">Reference</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="#!">Contact</a>
            </li>
          </ul>
          <ul class="navbar-nav d-flex flex-row">
            <li class="nav-item me-3 me-lg-0">
              <a class="nav-link" href="#!">
                <i class="bi bi-facebook"></i>
              </a>
            </li>
            <li class="nav-item me-3 me-lg-0">
              <a class="nav-link" href="#!">
                <i class="bi bi-twitter"></i>
              </a>
            </li>
            <li class="nav-item me-3 me-lg-0">
              <a class="nav-link" href="#!">
                <i class="bi bi-google"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!--HERO SECTION-->
    <div class="container col-xxl-8 px-4 py-3">
      <div class="row flex-lg-row-reverse align-items-center g-3 py-5">
        <div class="col-10 col-sm-8 col-lg-6 mx-auto d-block">
          <img
            src="https://cdn.jsdelivr.net/gh/RockyBndc/angular-cv-2135-rapb@dacd78382d025b8523f207a651da155521009f84/src/app/assets/headerpic.png"
            class="d-block mx-lg-auto img-fluid"
            alt="Headerpic"
            height="150"
            loading="lazy"
          />
        </div>
        <div class="col-lg-6">
          <h3 class="mx-5">Hi everyone, I'm</h3>
          <h1 class="display-5 fw-bold lh-1 mb-3 mx-5">Raquel Bondoc</h1>
          <h4 class="lead mx-5">Front-end Web Developer</h4>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start mx-5">
            <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">
              Primary
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>-->

  <!--ABOUT-->
  <app-about></app-about>

  <!--EDUCATION-->
  <app-education></app-education>

  <!--SKILLS-->
  <app-skills></app-skills>

  <!--REFERENCE-->
  <app-reference></app-reference>

  <!--CONTACT-->
  <app-contact></app-contact>
</div>

<br /><br /><br />

<hello name="{{ name }}"></hello>
<p>Start editing to see some magic happen :)</p>
